:root {
    --ivory-mist: #dfdfd6;        
    --obsidian-night: #03160e;   
    --abyssal-blue: #112432;      
  
    --emerald-depths: #0d5938;     
    --neon-verdure: #2de193;      
    --midnight-moss: #202122;      
 
    --royal-cobalt: #022164;       
    --azure-pulse: #0348dd;       
    --celestial-haze: #9bbafd;     
  
    --gilded-sun: #e0bc2e;        
    --bg-gradient-jet: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
  
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--obsidian-night);
    width: 100vw;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--ivory-mist);
}

.page-container {
    width: min(100vw, 1440px);
    height: min(100vh, 1440px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}